*{
    margin: 0; 
}

.block{ 
    font-size: 30px;
    text-align: center;
    height: 100%;
    border: solid 3px;
}

.logo{
    background-color: aqua;
}

.header{
    background-color: #aae;
    margin-bottom: 30px;
}

.photo{
    height: 300px;
    background-color: #aaa;
    margin-bottom: 30px;
}

.product{
    min-height: 10px;
    margin-bottom: 30px;
    background-color: #aae;
    
}

.products{
    border: solid 1px;
    height: 100px;
    background-color: #aae; 
    margin-bottom: 100px;
}

.footer{
    height: 150px;
    background-color: black;
}